%h1.error
  .large-icon.error
  .name
    #{I18n.t "headers.admin"}

%form.modal{:action => "/system", :method => :post}
  .card.admin
    %h2
      #{I18n.t "admin.moderation.header"}
      %a.help-bubble{:href => "?help=moderation"}
        #{I18n.t "alt-text.help"}

    .help{:"aria-hidden" => help != "moderation" ? "true" : "false"}
      = render(:markdown, I18n.t('help.admin.moderation'))

    -# Assure 'false' value is submitted with form
    %input{:type => :hidden, :name => :moderate_objects,  :value => "false"}
    %input{:type => :hidden, :name => :moderate_accounts, :value => "false"}

    -# Actual content follows
    %ul.options
      %li
        %label.checkbox{:for => :moderate_objectss}
          %input{:type    => :checkbox,
                 :id      => :moderate_objects,
                 :name    => :moderate_objects,
                 :checked => system.moderate_objects == 1}
          #{I18n.t "admin.moderation.objects"}
      %li
        %label.checkbox{:for => "moderate_accounts"}
          %input{:type    => :checkbox,
                 :id      => :moderate_accounts,
                 :name    => :moderate_accounts,
                 :checked => system.moderate_accounts == 1}
          #{I18n.t "admin.moderation.accounts"}
  .card.filled
    .submit
      %input.button{:type => :submit, :value => I18n.t("common.save")}

.card
  %h2
    #{I18n.t "admin.pendingAccounts.header"}
    %a.help-bubble{:href => "?help=pending_accounts"}
      #{I18n.t "alt-text.help"}

  .help
    = render(:markdown, I18n.t('help.admin.pendingAccounts'))

  - unless people.empty?
    %ul.people.accounts>
      - people.each do |account|
        %li>
          %img.avatar{:src => account.person.avatar_url(24)}>
          %a{:href => "/people/#{account.person.uid}"}>#{account.username}
          %form{:action => "/accounts/#{account.id}", :method => :post}
            %input{:type => :hidden, :name => "active", :value => "1"}
            %input.button{:type => :submit, :value => I18n.t("admin.pendingAccounts.activate")}
          %form{:action => "/accounts/#{account.id}", :method => :post}
            %input{:type => :hidden, :value => 'delete', :name => :_method}
            %input.red.button{:type => :submit, :value => I18n.t("admin.pendingAccounts.delete")}
  - else
    %p
      #{I18n.t "common.none"}

.card
  %h2
    #{I18n.t "admin.pendingObjects.header"}
    %a.help-bubble{:href => "?help=pending_objects"}
      #{I18n.t "alt-text.help"}

  .help
    = render(:markdown, I18n.t('help.admin.pendingObjects'))

  - unless objects.empty?
    %ul
    - objects.each do |object|
      %li
        #{object.name}
        %form{:action => "/objects/#{object.id}", :method => :post}
          %input{:type => :hidden, :name => "active", :value => "1"}
          %input.button{:type => :submit, :value => I18n.t("admin.pendingObjects.activate")}
  - else
    %p
      #{I18n.t "common.none"}
