.content ul#worksets {
  padding: 0;
  margin: 0;

  >li {
    min-height: 40px;
    border-top: 1px solid #eee;

    &:last-child {
      border-bottom: 1px solid #eee;
    }

    h3.name {
      background:url('/images/workset.png') no-repeat 23px 17px;
      font-size: 20px;
      font-weight: 400;
      min-height: 23px;
      padding-top: 14px;
      padding-left: 56px;
      padding-bottom: 8px;

      margin: 0;
      a {
        font: $workset-name-font;
      }
    }

    .description {
      font: $workset-description-font;
      padding: 0;
      padding-left: 22px;

      * {
        font: $workset-description-font;
        padding: 0;
      }
    }
  }

  .statistics {
    float: right;
    padding: 20px;

    color: #888;
  }
}

.content pre.wrap {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}
