/* This sheet contains rules/mixins for device specific sizes
 */

$width:        1030px;

$media-fit:    "(max-width: #{$width})";
$media-wide:   "(max-width: 950px)";
$media-tablet: "(max-width: 600px)";
