/* Contains styling for the graph-builder application.
 */

/* Contains all of the widgets pertaining to graph presentation.
 * That is: (#command-bar, #graph-type-bar, #graph, #graph-options)
 */
.graph-panel {
  display: inline-block;
  position: fixed;
  left: 0%;
  overflow: hidden;
  height: 100%;
  max-width: 35%;
  width: 35%;
}

/* Conversely contains all of the widgets pertaining to results/data
 * presentation and picking.
 * That is: (#results-bar, #results-data)
 */
.results-panel {
  display: inline-block;
  position: fixed;
  left: 35%;
  width: 65%;
  top: 48px;
  bottom: 0px;
}

.results-panel:first-child {
  width: 100%;
  left: 0%;
}

/* Displays a list of commands (add-graph, undo, reset, etc)
 */
#command-bar {
  background-color: #444;
  /*border-bottom: 1px solid #777;*/
  width: 100%;
  height: 30px;
}

#command-bar .logo {
  color: hsl(190, 80%, 70%);
  display: inline-block;

  margin-left: 15px;
}

#command-bar ul {
  display: inline-block;

  margin-left: 7px;
  margin-top: 6px;
}

#command-bar ul li {
  border-right: 1px solid #777;
  color: white;
  display: inline-block;
  height: 18px;
  line-height: 18px;

  padding-right: 7px;
  padding-left: 5px;

  font-family: "Open Sans";
  font-size: 14px;
}

#command-bar ul li:first-child{
  padding-left: 0;
}

#command-bar ul li:last-child{
  border-right: none;
}

/* Lists graph types (bar, line, etc)
 */
#graph-type-bar {
  background-color: #444;
  width: 100%;
  height: 64px;
  overflow: hidden;
}

#graph-type-bar ul {
  display: inline-block;
}

#graph-type-bar ul li {
  background-color: #555;
  border-right: 1px solid #777;
  cursor: pointer;
  display: inline-block;

  width: 64px;
  height: 64px;
}

#graph-type-bar ul li:last-child {
  border-right: none;
}

#graph-type-bar ul li.active {
  background-color: #ccc;
}

/* The actual graph container.
 */
#graph {
  background-color: #444;
  border: none;
  border-bottom: 1px solid #777;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Lists graph specific options (title, etc)
 */
#graph-options {
  background-color: #444;
  overflow: auto;
  width: 100%;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.data.tab-panel {
  overflow-y: scroll;
  height: 100%;
}

#graph-options ul.options {
  display: table;
  width: 100%;
  padding: 10px;
  padding-right: 10px;
  margin: 0;
}

#graph-options ul.options li.option {
  display: table-row;
  height: 25px;
  max-height: 25px;
}

#graph-options ul.options li.option label {
  color: white;
  display: table-cell;
  height: 20px;
  max-height: 20px;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
  white-space: nowrap;
}

#graph-options ul.options li.option div {
  height: 20px;
  max-height: 20px;
  width: 100%;
  display: table-cell;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

#graph-options ul.options li.option div input {
  display: inline-block;
  height: 18px;
  max-height: 18px;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;
}

#graph-options ul.options li.option div input:not([type=range]) {
  border: none;
}

#graph-options ul.options li.option .two input {
  float: left;
  width: 46%;
}

#graph-options ul.options li.option .two input:not(:first-child) {
  float: right;
}

#graph-options ul.options li.option input[type=checkbox] {
  width: 15px;
}

/* Tab-bar that lists the experiments that can be queried for the graph.
 */
#results-bar {
  background-color: #aaa;
  border-left: 1px solid #000;
  width: 100%;
}

/* Tabulated view of the results of the given experiment.
 */
.results-data ,
#results-data {
  overflow: auto;
  overflow: hidden;
}

.results-panel .results-data ,
.results-panel #results-data {
  border-left: 1px solid #000;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 32px;
  bottom: 0px;
  background-color: white;
}

.results-panel .results-data ul li span.key ,
.results-panel #results-data ul li span.key {
  cursor: pointer;
}

.results-data .data ,
#results-data .data {
  background-color: white;

  display: none;

  padding-top: 10px;
  padding-left: 10px;
}

.results-data .data.active ,
#results-data .data.active {
  display: block;
}

/* Context menu that appears when you click a data item.
 */
#graph-builder-menu {
  background-color: $card-bg;
  border: 1px solid $accent-color;
  border-left: 5px solid $accent-color;

  color: $accent-color;
  text-align: center;

  padding: 5px 0;
  position: relative;

  // So that you can see underneath at what you are selecting
  //opacity: 0.7;
}

#graph-builder-menu:hover {
  opacity: 1.0;
}

#graph-builder-menu:after {
  display:  block;
  content:  '';
  position: absolute;
  left: -10px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid $accent-color;
}

#graph-builder-menu h3 + .select {
  display: inline-block;
  margin-left: 10px;
}

#graph-builder-menu .select select {
}

#graph-builder-menu h3 {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  text-align: right;
  padding-top: 2px;
  vertical-align: top;
  font: 600 13px "Open Sans";
}

#graph-builder-menu .select {
  margin-left: 120px;
  margin-right: 10px;
}

#graph-builder-menu .button {
  width: 325px;
  margin-top: 3px;
}

#graph-builder-menu ul li {
  cursor: pointer;

  background-color: #333;

  margin-bottom: 3px;
  padding: 3px 5px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#graph-builder-menu ul li:last-child {
  margin-bottom: 0;
}

.content .tab-panel .information > * > h2 {
  //color: #ddd;
}

.data-point .remove a {
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #dcc;
  background-position: -1px -1px;
  border: 1px solid #aaa;
  border-radius: 8px;
  display: block;
  height: 14px;
  position: relative;
  text-indent: -9999px;
  top: 3px;
  width: 14px;

  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.data-point .remove a:hover {
  background-color: red;
}

#results-bar ,
#graph-options-bar {
  position: relative;
}

#results-bar .expand ,
#graph-options-bar .expand {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* Data results view */
.results-data ul li span.expand ,
#results-data ul li span.expand {
  color: #666;
  margin-right: 5px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 5px;
}

.results-data ul li ,
#results-data ul li {
  position: relative;
}

.results-data ul li:not(:first-child) ,
#results-data ul li:not(:first-child) {
  margin-top: 5px;
}

.results-data ul li span.key ,
#results-data ul li span.key {
  font: $key-font;
  color: $key-color;
  margin-right: 10px;
}

.results-data ul li span.expand + span.key ,
#results-data ul li span.expand + span.key {
  margin-left: 25px;
}

.results-data ul li ul ,
#results-data ul li ul {
  margin-left: 25px;
}

.results-data ul li ul.array ,
#results-data ul li ul.array {
  margin-top: 5px;
}

.results-data ul li ul.hash ,
#results-data ul li ul.hash {
  display: inline-block;
}

.results-data ul li.element ,
#results-data ul li.element {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.results-data ul li span.value ,
#results-data ul li span.value {
  font: $value-font;
  color: $value-color;
}

.results-data ul li span.units ,
#results-data ul li span.units {
  font: $supplement-font;
  color: $supplement-color;
}
