.content .card h2 + ul.history {
  margin-top: 20px;
  padding: 0 !important;

  li.commit {
    border-top: 1px solid #888;
    margin: 0;
    padding: 10px 20px;
    background-color: $history-bg;

    &:last-child {
      border-bottom: 1px solid #888;
    }

    .date {
      display: inline-block;
      float:   right;
      margin:  0;
      font:    $history-date-font;
      color:   $history-date-color;
    }

    .name,
    .author {
      display: inline-block;
      margin:  0;
      font:    $history-author-font;
      color:   $history-author-color;
    }

    .name {
      font-weight: 300;
    }

    .message {
      display:    block;
      margin:     0;
      margin-top: 10px;
      font:       $history-message-font;
      color:      $history-message-color;
    }
  }
}
