/* Run logs */

body .content .log {
  text-align: center;
  min-height: 400px;
  overflow: auto;
}

body .content .log ul {
  margin: 0 auto;
  padding: 0;
}

body .content .log ul li {
  margin: 10px auto;
  padding: 10px;
  max-width: 700px;
  font: 200 10pt "Open Sans", sans-serif;
  list-style: none;
  text-align: left;
}

body .content .log ul li:last-child {
  margin-bottom: 0;
}

body .content .log ul li.normal {
}

body .content .log ul li.warning {
  border: 1px solid #ddd;
  list-style: none;
  background-color: #F1EBBD;
  text-align: center;
  color: #212016;
}

body .content .log ul li.debug {
  color: gray;
}

body .content .log ul li.error {
  border: 1px solid #ddd;
  list-style: none;
  color: red;
  text-align: center;
  font-weight: bold;
}

body .content .log ul li.done {
  border: 1px solid #ddd;
  background-color: #D9FFD9;
  list-style: none;
  color: green;
  font-weight: bold;
  text-align: center;
}

body .content .log ul li.header {
  border: none;
  list-style: none;
  font-size: 12pt;
  text-align: center;
  font: 300 14pt Lato;
}

body .content .log ul li.external {
  background-color: $code-bg;
  color:            $code-color;
  font:             $code-font;
  text-align:       left;
  list-style:       none;
  margin: 0;
  max-width: inherit;

  border-top:    1px solid #656565;
  border-bottom: 1px solid #656565;
}

body .content li.run-log {
  background-color: #515151;
  color:            $code-color;
  font:             $code-font;
  text-align:       left;
}
