/* Runs Listing */
.card .run .collapsible input.run-action {
  height: 39px;
  line-height: 1em;
  cursor: pointer;
  display: inline-block;
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 5px 50%;
  font-size: 11px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 13px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;
  border-left: none;
  position: relative;
}

.card .run span.expand.shown + .collapsible input.run-action {
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.card .run .collapsible input.archive-link {
  background-color: #cec;
  color: hsl(160, 90%, 40%);
}

.card .run .collapsible input.archive-link:hover {
  color: hsl(160, 90%, 20%);
}

.card .run .collapsible input.cancel-link {
  background-color: #ecc;
  color: hsl(0, 90%, 80%);
}

.card .run .collapsible input.cancel-link:hover {
  color: hsl(0, 90%, 40%);
}

.card .run {
  position: relative;
  margin-top: 10px;
}

.card .run > span.expand {
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
}

.card .run > .collapsible {
  display: block;
  overflow: hidden;
  margin-left: 22px;
}

.content .card .run > .collapsible > .information {
  margin-top: 0;
}

.content .card .run > .collapsible > .information > div > h2 {
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 43px;
  background-position: 15px 8px;
}

.content .card .run > .collapsible > .information > div > h2 + * {
  font-size: 12px;
  width: 100%;
}

.card .run > .collapsible > .information.run-header {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #ccc;
}

.card .run > span.expand.shown + .collapsible > .information.run-header {
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card .run > .collapsible > .information.run-header h2 {
  height: 30px;
}

.card .run > .collapsible > .information.run-header + .workflow.fitted {
  margin-top: 0;
}

.card .run > .collapsible > .information:not(.run-header) {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}

.card .run > .collapsible > .information ul.progress-bar {
  display: inline-block;
}

.card .run > .collapsible > .information ul.progress-bar + p {
  display: inline-block;
}

.card .run > .collapsible > .information + ul.tabs {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.card .run > .collapsible > ul.tab-panels {
  margin-top: 0;
}

.card .run > .collapsible > ul.tab-panels .terminal {
  margin-top: 0;
  border-bottom-left-radius: 10px;
}

.content .card p.show-all-runs-link {
  margin-top: 10px;
}

.content .card .queue-job {
  margin-top: 10px;
}

.content .card .queue-job span {
  font: $object-description-font;
  color: $paragraph-color;
}

.content .card .queue-job span.dispatch-selector {
  background: url('/images/object.png') no-repeat;
  background-position: 10px 50%;
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px 30px;
  padding-left: 40px;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin: 0px 10px;
  cursor: pointer;
}

.content .card .queue-job span.dispatch-selector[data-node-type=aptlab] {
  background-image: url('/images/aptlab.png');
}

.content .card .queue-job span.dispatch-selector[data-node-type=ec2] {
  background-image: url('/images/ec2.png');
}

.content .card .queue-job a.button.dispatch-button {
  padding-top: 12px;
  padding-bottom: 11px;
  margin: 0;
}
