.content .card ul.workflow {
  background-color: hsl(290, 80%, 99%);
  border: 1px solid #bbb;
  margin: 0px;
  margin-top: 10px;
  overflow: auto;
  max-height: 600px;
  white-space: nowrap;
  padding: 50px 20px;

  position: relative;
  text-align: center;
  resize: vertical;
}

.content .card ul.workflow > * {
  resize: none;
}

.content ul.workflow .container > .container-content > form > input.delete {
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #dcc;
  background-position: -1px -1px;

  display: block;
  position: absolute;
  right: -8px;
  top: -8px;
  height: 16px;
  width: 16px;
  color: white;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0;
  line-height: 10px;
  cursor: pointer;
  vertical-align:top;
  border-radius: 8px;
  text-indent: -9999px;
}

.content ul.workflow .container > .container-content > form > input.delete:hover {
  background-color: #fcc;
}

.content ul.workflow .container .container-content:not(.input) > *:not(.spinner) {
  visibility: hidden;
}

.content ul.workflow ul.connections {
  display: block;
  position: relative;
}

.content ul.workflow li.connection {
  display: table;
  margin-left: auto;
}

.content ul.workflow > li.connection {
  margin-right: auto;
}

.content ul.workflow li.connection > .row {
  display: table-row;
}

.content ul.workflow li.connection > .row > .cell {
  display: table-cell;
  vertical-align: middle;
}

.content ul.workflow li.connection > .row > .object {
  display: table-cell;
  position: relative;
}

/* When there are more than one connection,
   center the node vertically */
.content ul.workflow li.connection > .row > .cell.many + .object {
  vertical-align: middle;
}

/* Otherwise, it should rest at the bottom */
.content ul.workflow li.connection > .row > .object {
  vertical-align: middle;
}

.content ul.workflow li.connection > .row > .object .container {
  position: relative;
  width:  120px;
  min-height: 30px;
}

.content ul.workflow .container-content {
  background-color: #fcfcff;

  border: 1px solid $workflow-object-border-color;
  border-left-width: 5px;
  border-right-width: 5px;
}

.content ul.workflow .container.input .container-content {
  border-color: $workflow-input-border-color;
}

.content ul.workflow .container-content:not(.input) {
  width: 30px;
  height: 30px;
}

.content ul.workflow li.connection > .row > .object .container .container-content {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content ul.workflow li.connection > .row > .object .container .container-content:after {
  height: 30px;
  width:  30px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat:   no-repeat;
  background-position: 50% 50%;
  background-size:     30px 30px;
  content: '';
  display: block;
  filter: grayscale(100%) opacity(50%);
  -webkit-filter: grayscale(100%) opacity(50%);
}

.content ul.workflow .container:not(.embedded):not(.input) > .container-content:after {
  height: 30px;
  width:  30px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat:   no-repeat;
  background-position: 50% 50%;
  background-size:     30px 30px;
  content: '';
  display: block;
  filter: grayscale(100%) opacity(50%);
  -webkit-filter: grayscale(100%) opacity(50%);
}

.content ul.workflow li.connection > .row > .object .container .container-content:hover:after {
  filter: none;
  -webkit-filter: none;
}

.content ul.workflow li.connection > .row > .object .container:not(.input) .container-content:hover {
  border-color: #bbb;
}

.content ul.workflow li.connection > .row > .object .edge {
  position: absolute;
  float: none;
  bottom: 50%;
  width:  40px;
  border-top: 3px solid $workflow-line-color;
}

.content ul.workflow li.connection > .row > .object .edge.top ,
.content ul.workflow li.connection > .row > .object .edge.bottom {
  border: none;
  border-right: 5px solid $workflow-line-color;
  right: 0px;
  width: 43px;
  height: 50%;
}

.content ul.workflow li.connection > .row > .object .edge.bottom {
  top: 50%;
}

.content ul.workflow li.connection > .row > .object .edge.top {
  bottom: 50%;
}

.content ul.workflow li.connection > .row > .object .edge.right {
  left:   80px;
}

.content ul.workflow li.connection > .row > .object .edge.left {
  right:  80px;
}

/* Don't show top-right facing line if there are no connections above */
.content ul.workflow li.connection:first-child > .row > .cell + .object > .edge.top {
  visibility: hidden;
}

/* Don't show bottom-right facing line if there are no connections above */
.content ul.workflow li.connection:last-child > .row > .cell + .object > .edge.bottom {
  visibility: hidden;
}

/* Don't show bottom-right facing line if this is the last connection
   before an input. The input (+) is the last connection. */
.content ul.workflow .cell.input li.connection:nth-last-child(2) > .row > .cell + .object > .edge.bottom {
  visibility: hidden;
}

/* Don't show top-right nor bottom-right facing line if this is the first
   object */
.content ul.workflow > li.connection > .row > .object > .edge.bottom,
.content ul.workflow > li.connection > .row > .object > .edge.top {
  visibility: hidden;
}

/* Don't show left facing line if there are no connections leading
   into this object */
.content ul.workflow li.connection > .row > .cell.none + .object .edge.left {
  visibility: hidden;
}

/* However, DO show it if we are going into an input node */
.content ul.workflow li.connection > .row > .cell.input.none + .object .edge.left {
  visibility: visible;
  border-color: $workflow-input-line-color;
}

.content ul.workflow li.connection.input:last-child > .row > .object > .edge.top {
  border-bottom: 2px solid $workflow-input-line-color;
  border-bottom-right-radius: 20px;
  border-color: $workflow-input-line-color;
  height: 34px;
}

/* Don't show right facing line if there are no connections leading
   out of this object */
.content ul.workflow > li.connection > .row > .object > .edge.right {
  visibility: hidden;
}

/* Don't show the line if this is a (+) widget */
.content ul.workflow li.connection > .row > .object > .container.input ~ .edge.right {
  visibility: hidden;
}

.content ul.workflow .object {
}

.content ul.workflow ul.connections {
}

/* Workflow input (+) widget and lines */
.content ul.workflow li.connection.input:not(:first-child) {
  display:  block;
  position: absolute;
  right:    0px;
  bottom:   0px;
}

.content ul.workflow li.connection > .row > .object .container.input > .container-content.plus {
  width: 15px;
  height: 15px;
  color: white;
  overflow: hidden;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  background-color: $workflow-input-plus-bg;
  border-radius: 8px;
  border-width: 1px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  z-index: 888;
  background-image: url('/images/add_item.svg');
  background-position: 50% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
  top: 5px;

  border-color: $workflow-input-plus-border-color;
}

.content ul.workflow li.connection.input:first-child > .row > .object .container.input > .container-content.plus {
  margin-right: 3px;
  bottom: 48px;
}

.content ul.workflow .input-dashes {
  width: 33px;
  height: 32px;
  color: white;
  position: absolute;
  font-weight: 700;
  margin: 0;
  right: 0;
  z-index: 888;
}

/* Workflow object selector */
.content ul.workflow .container select {
  margin: 10px;
  margin-bottom: 0;
  width: 100px;
}

.content ul.workflow .container.input .container-content .button {
  width: 100px;
  height: 22px;
  line-height: 0px;
  vertical-align: middle;
  margin-bottom: 8px;
}

.content ul.workflow .container input[type=text] {
  display: block;
  margin-bottom: 0;
  width: 105px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  padding-right: 10px;
  text-align: center;
  background-color: white;

  font: $workflow-input-name-font;
  color: $workflow-input-name-color;
}

.content ul.workflow .container input[type=text].object-type {
  background: url('/images/object.png') no-repeat 7px 50%;
  background-size: 20px;
  width: 82px;
  padding-left: 28px;

  font: $workflow-input-type-font;
  color: $workflow-input-type-color;
}

/* Workflow object labels */
.content ul.workflow .container .label {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  color: #555;
  word-wrap: break-word;
  white-space: normal;
}

.content ul.workflow .container .label[aria-hidden=true] {
  display: block !important;
  cursor: default;
  opacity: 0;
}

.content ul.workflow .container.created .label {
  font-weight: 400;
  color: #888;
}

.content ul.workflow .container .label.type {
  font-size: 10px;
  font-weight: 400;
  color: #777;
}

/* Running/Pending Run Widget view */
.content ul.workflow .container.done > .container-content {
  background-color: #ccf;
  border-color: #aad;
}

.content ul.workflow .container.running > .container-content {
  background-color: #cfc;
  border-color: #ada;
}

/* Expanded node (with context menu) */
.content ul.workflow .container.embedded {
  background-color: white;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  left: 0;
  top: 0;
  visibility: hidden;
  z-index: 1111;

  &.input {
    overflow: visible;
  }
}

/* Context Menu */
.content ul.workflow .container ul.context-menu {
  // TODO: rtf languages
  text-align: left;

  li * {
    vertical-align: middle;
  }

  li {
    cursor: pointer;
    vertical-align: middle;
    padding-left: 43px;
    height: 40px;
    line-height: 40px;
    position: relative;

    a {
      color: $workflow-context-menu-color;
      font: $workflow-context-menu-font;

      cursor: pointer;

      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      display: inline-block;
      line-height: 1.1em;
    }
  }

  li:after {
    content:  '';
    height:   25px;
    width:    25px;
    border-radius: 15px;
    border: 1px solid #bababa;
    position: absolute;
    left: 8px;
    top:  8px;
    opacity: 0.5;
  }

  li.remove:after {
    background-color: #ffd9d9;

    background-image: url('/images/remove_item.svg');
    background-size: 25px 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  li:hover:after {
    border-color: #8a8a8a;
    opacity: 1.0;
  }

  li.remove:hover:after {
    background-color: #fe9292;
  }

  li.configure:after {
    background-image: url('/images/workflowItemConfiguration.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  li.configure:hover:after {
  }

  li.view {
    .revision {
      font-weight: bold;
    }
  }

  li.view:after {
    background-image: url('/images/workflowItemView.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  li.view:hover:after {
  }
}
