@import "reset";
@import "device";
@import "fonts";
@import "colors";

html, body {
  background-color: $body-bg;
  background-image: url('/images/noise_black.png');
  overflow-x: hidden;
  height: 100%;
}

body .content {
  margin: 0 auto;
  margin-top: 2px;
  max-width: $width;
  position: relative;
}

body .content.embed {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 50px);
}

body .content.filled {
  background-color: white;
}

.content a:not(.button) {
  color: $link-color;
  text-decoration: none;
}

.content span.black {
  color: #bbb;
}

.content span.small {
  font-size: 10px;
}

.content a.small-link {
  color: #ddd;

  font-size: 10px;
}

.content a.small-link:hover {
  color: #777;
}

.content a:hover {
  text-decoration: underline;
}

.content em {
  font-style:italic;
}

.content strong {
  font-weight:600;
}

@import "object";        // Object View Styling
@import "workflow";      // Workflow Widget Styling
@import "dashboard";     // Account Front Page Styling
@import "navigation";    // Topbar and Nav Sections
@import "pagination";    // Pagination Navigation
@import "card";          // Basic Styling of Cards
@import "log";           // Logs
@import "markdown";      // Markdown Generated Content
@import "graph";         // Graph Widgets
@import "form";          // Generic Forms and Inputs
@import "runs";          // Run/Log Views
@import "configuration"; // Configuration Forms
@import "graph_builder"; // Graph Builder Styling
@import "tabs";          // Tab Variants
@import "spinner";       // Spinner Graphic
@import "review_links";  // Review Link Functionality
@import "footer";        // Site Footer
@import "icons";         // Site Icons
@import "paper";         // Paper Page Editor/Viewer
@import "selector";      // Selector drop-downs
@import "help";          // Help bubbles
@import "stream";        // Video stream widget
@import "test_viewer";   // Test reporting
@import "history";       // Object History Styling
@import "admin";         // Admin Page Styling
@import "index";         // Front Page Styling
@import "listview";      // List-View styling for object lists

.content h1.small {
  font-size: 33px;
}

.content * + h1 {
  margin-top: 2px;
}

.content h1 + h2 {
  margin-top: 15px;
}

.content h1 + h3 {
  margin-top: 15px;
}

.content h1 + form {
}

.content h1 + p {
  margin-top: 20px;
}

.content h2 + ul.tags ,
.content h1 + ul.tags {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(190, 30%, 95%);
}

.content h2 + ul.tags li ,
.content h1 + ul.tags li {
  margin-top: 10px;
}

.content h2 + p {
  margin-top: 10px;
}

.content h2 + ul {
  margin-top: 10px;
}

.content p + p {
  margin-top: 10px;
}

.content p + ul {
  margin-top: 10px;
}

.content h1 + ul + p {
  margin-top: 20px;
}

.content .image:not(.large-icon):not(h1) {
  text-align: center;
}

.content .image img {
  margin: 0px auto;
  margin-top: 20px;
}

.content .information {
  display: table;
}

.content .information:not(table) > * {
  display: table-row;
}

.content .information > * > h2 {
  display: table-cell;
  color: #555;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 43px;

  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;

  font-size: 17px;
}

.content .information > * > h2.another-revision {
  color: #888;
}

.content .information > * > h2 + * span.time {
  color: #aaa;
  font-size: 12px;
}

.content .information > * > h2 + * span.time:before {
  color: #777;
  font-size: 14px;
  content: '(';
}

.content .information > * > h2 + * span.time:after {
  color: #777;
  font-size: 14px;
  content: ')';
}

.content .information > * > h2 + * {
  display: table-cell;
  margin: 0;
}

.content .information > * > h2 + * ,
.content .information > * > h2 + * p {
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;

  code {
    font-size: 12px;
  }
}

.content .information > * > h2 + :not(.button) {
  padding: 0;
  padding-left: 15px;
  padding-bottom: 10px;
}

.content .information > * > h2 + .button {
  margin-left: 15px;
}

.content .information > * > ul {
  color: #888;
}

.content .information > * > * > span.small {
  color: #888;
}

.content .information > * > ul > li {
  padding-top: 10px;
}

.content .information > * input:not(.checkbox) {
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px 10px;
  width: 250px;
  height: 25px;
  margin: 0px 10px;
}

.content > h2.inline + p {
  display: inline-block;
}

.content h2 {
  padding: 0;
  font: $sub-header-font;
}

.content h2.icon {
  padding-left: 27px;
  background-position: 0px 50%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.content > h2 {
  color: $sub-header-color;
}

.content * + h2 {
  margin-top: 20px;
}

.content h3 {
  padding: 0;
  font: $sub-sub-header-font;
}

.content > h3 {
  color: hsl(190, 30%, 35%);
}

.content * + h3 {
  margin-top: 20px;
}

.content p {
  padding: 0;
  font: $paragraph-font;
  font-weight: 200;
  line-height: 1.3em;
}

.content p.path {
  font-family: "inconsolata", monospace;
  font-weight: normal;
}

.content > ul {
  font-family: "Open Sans", sans;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2em;
  margin: 0;
}

.content ul.results li a + p {
  margin-top: 12px;
}

.content ul.image-list li {
  list-style: none;
  min-height: 32px;
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 44px;
}

.content h1 .logo {
  font-size: 42px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
}

.content p span.logo {
  color: hsl(190, 30%, 35%);
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 3px;
}

.table {
  display: table;
}

.table .row {
  display: table-row;
}

.table .row .cell {
  display: table-cell;
  padding-right: 10px;
  padding-bottom: 10px;
}

span.arrow {
  color: #888;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.content p code,
.content pre {
  font: $code-font;
}

.content pre {
  background-color: $code-bg;
  color: $code-color;
  overflow: auto;
  padding: 5px;
}

.content h2 + pre {
  margin-top: 15px;
}

.content pre:last-child {
  border-bottom: 5px solid #3a3a3a;
}

.content pre + p {
  margin-top: 10px;
}

.content h2 span.expand {
  color: $expand-color;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.content .collapsable > h2 span.expand {
  margin-right: 5px;
  margin-left: -7px;
}

.content .loadable {
  margin-top: 10px;
}

.content ul.directory li span.units {
  color: #bbb;
}

.content ul.directory li span.value {
  color: hsl(190, 60%, 45%);
  font-weight: 400;
  padding-right: 5px;
}

.content ul.directory li span.status {
  font-size: 12px;
  text-align: right;
}

span.command a {
  display: block;
}

.content * span.status.unqueued {
  color: #aaa;
}

.content * span.status.queued {
  color: black;
}

.content * span.status.running {
  color: blue;
}

.content * span.status.failed {
  color: #c83737;
}

.content * span.status.finished {
  color: #079807;
}

html > body > .content .right {
  float: right;
}

.content > .title {
  text-align: center;
}

.content h2.title + .graph#graph {
  background-color: #444;
  width: 600px;
  margin: 20px auto;
}

[aria-hidden="true"] {
  display: none !important;
}

.content .tab-panels > .card:first-child:not(.filled) {
  margin-top: 0px;
  border-top: 2px solid #ccc;
}

.content .card > .container {
  margin-top: 10px;
}

.content .card.blue {
  color: $card-blue-color;
  background-color: $card-blue-bg;
  text-align: center;
}

.content .card.blue a {
  color: white;
  font-weight: 700;
}

.clear {
  clear: both;
}

.content .card ul li .information {
  margin-top: 10px;
}

.content .card ul li .information > div > h2 {
  color: $sub-header-color;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 43px;
  background-position: 15px 2px;
}

.content .card ul li .information > div > h2 + * {
  font-size: 12px;
}

nav ul.progress-bar li.progress-cell ,
.information ul.progress-bar li.progress-cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  max-height: 10px;
  background-color: #aaa;
  border: 1px solid #888;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

nav ul.progress-bar li.progress-cell.complete ,
.information ul.progress-bar li.progress-cell.complete {
  background-color: #ccf;
  border: 1px solid #aad;
}

nav ul.progress-bar li.progress-cell.in-progress ,
.information ul.progress-bar li.progress-cell.in-progress {
  background-color: #cfc;
  border: 1px solid #ada;
}

.information ul.progress-bar + p {
  margin-left: 15px;
}

/* Creates a div that fits its container */
.content .fitted {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@import "widget";
