%nav.topbar
  %a.logo{:href => '/'}
  -# Current job progress
  - if not current_person.nil?
    %ul.navbar.jobs.left
      %li#job-progress>
        %span
          Running Tasks:
        - if current_person.running_runs.empty?
          %p
            None
          %a{:href => "/people/#{current_person.uid}/runs"}
            Work History
        - else
          .task-selector
            .previous>
              &#x25B2;
            %span.task-number
              1
            \/
            %span.task-count
              #{current_person.running_runs.count}
            .next>
              &#x25BC;
          - run = current_person.running_runs.first
          - job = run.jobs.where(:status => "running").first
          - connection_index = job.connections.first
          - if run.experiment
            - connection_object = run.experiment.workflow['connections'][connection_index]['object_realized']
            .current-task{:"data-run-id" => run.id, :"data-job-id" => job.id}
              .label.type
                #{connection_object.type}
              .label.name
                #{connection_object.name}
          .container
            = partial :spinner
          %ul.progress-bar
            - run.jobs.each do |job|
              %li.progress-cell{:"data-job-id" => job.id, :class => ((job.status == :finished) ? "complete" : ((job.status == :running) ? "in-progress" : ""))}
          %span.job-title
            %a
              #{job.workset && job.workset.name}/#{job.experiment && job.experiment.name}
  %ul.navbar.right
    - if current_person.nil?
      %li>
        %a{:href => "/login"}>#{I18n.t "navigation.login"}
      %li>
        %a{:href => "/people/new"}>#{I18n.t "navigation.signup"}
    - else
      %li#avatar
        %img{:src => current_person.avatar_url(24)}
      %li#username{:"data-person-uuid" => current_person.uid}>
        %a{:href => "/people/#{current_person.uid}"}
          #{current_person.username}
      %li>
        %a{:href => "/logout"}>#{I18n.t "navigation.logout"}
  %ul.navbar.search.right
    %li>
      %form{:action => "/search", :method => :post}
        %input#query{:name        => "search",
                     :placeholder => I18n.t('fields.placeholders.search')}
        %input#search{:type  => :submit,
                      :style => "display: none;"}
    %li>
      %a{:href => "/search"}>#{I18n.t "navigation.search"}
