!!!
%html.embedded
  %head
    = partial(:head)
    %title
      - title = yield_content :title
      - if title.length > 0
        #{title} -
      OCCAM
  %body
    %nav.topbar
      %a.logo{:href => '/'}
    .content.embed
      = find_and_preserve do
        = yield
    = partial(:scripts)
