-# TODO: No-Javascript version to open tabs

.card.filled
  %h2
    = I18n.t('subheaders.configuration')
    %a.help-bubble{:href => "?help=options"}
      = I18n.t('alt-text.help')
  .help{:"aria-hidden" => (help.nil? or help != "options") ? "true" : "false"}
    = render(:markdown, I18n.t('help.configuration'))

  - if experiment.workflow['connections'].empty?
    - if workset && workset.can_edit?(current_person)
      %p
        = I18n.t('common.noNodesYou')
    - else
      %p
        = I18n.t('common.noNodes')

  %ul.tabs.bubble.configuration-object
    - tab_count = 0
    - experiment.workflow['connections'].each_with_index do |connection, index|
      - if connection['object_realized']
        - tab_count += 1
        %li.tab{:class => (tab_count == 1 ? "active" : ""), :"data-connection-index" => index}
          %a
            #{connection['object_realized'].name}
  - tab_count = 0
  .tab-panels
    - experiment.workflow['connections'].each_with_index do |connection, index|
      - if connection['object_realized']
        - tab_count += 1
        %form.tab-panel{:'data-connection-index' => index, :class => (tab_count == 1 ? "active" : ""), :"aria-hidden" => (tab_count == 1 ? "false" : "true"), :action => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/configurations/#{index}", :method => :post, :name => :configuration_edit, :"data-parsley-excluded" => "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden, .no-validation"}
          .card.filled
            %ul.configurations.tabs.card-tabs>
              - inner_tab_count = 0
              - if connection['object_realized'].configurators.any?
                - inner_tab_count += 1
                %li.configuration.tab.active>
                  %a>
                    Widget
              - connection['object_realized'].configurations.each do |configuration|
                - inner_tab_count += 1
                %li.configuration.tab{:class => (inner_tab_count == 1 ? "active" : "")}>
                  %a>
                    #{configuration['name']}
              - inner_tab_count += 1
              %li.tab{:class => (inner_tab_count == 1 ? "active" : "")}>
                %a>
                  Files
            .tab-panels.configurations
              - inner_tab_count = 0
              - if connection['object_realized'].configurators.any?
                - inner_tab_count += 1
                .tab-panel.configurator{:class => (inner_tab_count == 1 ? "active" : ""), :"data-connection-index" => index, :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true")}
                  %h2
                    Configurator Widget

                  %ul.widget-list
                    - connection['object_realized'].configurators.each_with_index do |configurator, i|
                      %li.widget
                        %input.hidden{:type => :hidden, :name => :"attach_configurator_id[#{i}]", :value => configurator.uid}
                        %input.hidden{:type => :hidden, :name => :"attach_configurator_revision[#{i}]", :value => configurator.revision}
                        %input.hidden{:type => :hidden, :name => :"attach_configurator_file[#{i}]", :value => configurator.objectInfo()['file']}
                        .information
                          .row
                            %h2.name
                              Name
                            %p
                              %a{:href => objectURL(configurator, "", :object => configurator, :workset => nil)}
                                #{configurator.name}
                          .row
                            %h2.Attach
                            %input.attach-configurator.button{:type => :button, :name => :"attach_configurator_#{i}", :"data-index" => i, :value => "Attach"}

                  %p#configurator.configurator{:"data-connection-index" => index, :"data-configurator-url" => "", :"data-configurator-file" => ""}
                  %input{:type => :hidden, :name => :configurator_id, :value => ""}
                  %input{:type => :hidden, :name => :configurator_rev, :value => ""}
                  %input{:type => :hidden, :name => :configurator_data, :value => "{}"}
              - connection['object_realized'].configurations.each_with_index do |configuration, configuration_index|
                - inner_tab_count += 1
                .tab-panel.configuration{:class => (inner_tab_count == 1 ? "active" : ""), :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true"), :"data-configuration-index" => configuration_index, :"data-connection-index" => index, :"data-object-id" => connection['object_realized'].uid, :"data-object-revision" => connection['object_realized'].revision, :"data-experiment-id" => experiment.uid, :"data-experiment-revision" => experiment.revision, :"data-workset-id" => workset.uid, :"data-workset-revision" => workset.revision, :"data-key" => Base64.urlsafe_encode64(configuration["name"])}
              - inner_tab_count += 1
              .tab-panel.file-list{:class => (inner_tab_count == 1 ? "active" : ""), :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true")}
                = partial(:"objects/filelist", :locals => {:object_info => object_info, :object => connection['object_realized'], :path => "", :checkboxes => true, :form_prefix => "files[#{index}]", :selected_paths => connection['files']})
          .card.filled
            .submit
              %input.button{:type => "submit", :value => "Update", :name => :submit}
