.card
  - if workset.can_edit?(current_person)
    %h2
      Queue Jobs
    .queue-job
      %span
        Dispatch To:
      %span.dispatch-selector{:"data-node-type" => "occam"}<
        local
      %a.dispatch-button.button{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/run"}
        Queue Jobs
  %h2
    Runs
  - if experiment.runs.empty?
    %p
      No runs have been queued.
  - else
    %ul
      - experiment.runs.each do |run|
        = partial :"runs/list", :locals => {:run => run}
  -# TODO: experiment.can_edit? it should be because of experiment linking
