-# Purpose: Displays the profile for the specified experiment
-#
-# Locals:  experiment  - The particular Experiment to view
-#          simulator   - The Simulator this experiment runs with
-#          forked_from - The Experiment that this experiment was cloned from.
-#          person     - The person that created this experiment.
-#          recipe      - The Recipe this Experiment was based upon.
-#          workset     - The Workset this Experiment is collected within.

- content_for :title do
  #{experiment.name}

- content_for :scripts do
  %script{:src=>"/js/parsley/parsley.min.js"}
  %script{:src=>"/js/validation.js"}
  %script{:src=>"/js/configurator.js"}

- if current_revision != experiment.revision
  .card.blue
    %p
      This is a snapshot of this experiment as it looked in the past.&nbsp;
      %a{:href => "/worksets/#{workset.uid}/experiments/#{experiment.uid}"}<>
        Go to the most recent version
      \.

- if workset.uid != parent_workset.uid
  .card.blue
    %p
      This is a link to an experiment that actually resides in a different workset. Changes will clone this experiment.

= partial :"objects/header", :locals => {:type => "experiment", :name => experiment.name, :group => group, :workset => workset, :head_view => head_view, :description => object_info['description'], :tags => experiment.objectInfoTags}

%ul.card-tabs.tabs
  %li.card-tab.tab.active>
    %a{:href => "#"}>
      Workflow
  %li.card-tab.tab>
    %a{:href => "#"}>
      Metadata
  %li.card-tab.tab>
    %a{:href => "#"}>
      Current Jobs
  %li.card-tab.tab>
    %a{:href => "#"}>
      Run
  %li.card-tab.tab>
    %a{:href => "#"}>
      Output
  - if workset.can_edit?(current_person)
    %li.card-tab.tab>
      %a{:href => "#"}>
        Graphs
  - if object_info['build']
    %li.card-tab.tab>
      %a{:href => "#"}>
        Build
    %li.card-tab.tab>
      %a{:href => "#"}>
        Console
  - if object_info['citation']
    %li.card-tab.tab>
      %a{:href => "#"}>
        Citation

%ul.tab-panels
  %li.tab-panel.active
    .card
      - if not reviewing
        %ul.image-list.right
          - # TODO: handle clonedFrom generation!
          %li.fork
            %a{:href => "/experiments/#{experiment.uid}/#{experiment.revision}/fork"}
              Fork this experiment
      %h2
        Workflow
        %a.help-bubble{:href => "?help=workflow"}
          help
      .help{:"aria-hidden" => !(help == "workflow" or experiment.workflow['connections'].empty?) ? "true" : "false"}
        :markdown
          A **workflow** describes how a collection of objects interact. Generally, it denotes a path from some input to some eventual result. For instance, you can describe a flow from a benchmark to a simulator. To do this, you would first attach a simulator. At that point, it will show you the possible input objects you can attach. You can select a benchmark on the left-hand side and all runs will use that benchmark with the given simulator.

      = partial :"workflows/show", :locals => {:editable => true, :workset => workset, :experiment => experiment, :workflow => experiment.workflow, :tail_connections => experiment.tail_connections}

    -# Render the configuration form
    = partial(:"experiments/configuration", :locals => {:experiment => experiment, :workset => workset, :help => help})
  %li.tab-panel
    = partial :"objects/metadata", :locals => {:object => workset, :object_info => object_info}
  %li.tab-panel
    -# Render the current jobs related to this experiment
    = partial(:"experiments/jobs", :locals => {:experiment => experiment, :workset => workset, :help => help})
  %li.tab-panel
    = partial(:"experiments/run",  :locals => {:object => experiment, :workset => workset, :help => help})

  %li.tab-panel
    -# The list of outputs generated by this experiment.
    = partial(:"objects/output", :locals => {:object_info => object_info, :object => experiment, :workset => workset, :help => help})
