- if connection['object']['create'].nil? or !recurse
  %li.object{:class => "#{connection['object']['type']} #{'base' if base} #{connection['co_runnable'] == 1 ? 'fifo' : ''}"}>
    .row
      - if connection['connections'].any? or (object && defined?(editable) && editable && workset.can_edit?(current_person) && object.described_inputs.any?) or (parent && workset.can_edit?(current_person) && parent.indirect_input_types.any?)
        %ul.connections{:class => (((object && object.described_inputs.any?) || (parent && parent.indirect_input_types.any?)) ? "input" : "")}
          - connection['connections'].each do |input_connection|
            = partial :"workflows/object", :locals => {:workset => workset, :workflow => workflow, :base => false, :connection => input_connection, :object => input_connection['object_realized'], :experiment => experiment, :recurse => true, :parent => object, :editable => editable, :running_connections => running_connections, :done_connections => done_connections}
          - if defined?(editable) and editable and workset.can_edit?(current_person) and (connection['input_max'].nil? or connection['connections'].length < connection['input_max'])
            %li.object.input
              .row
                .info
                  .container.input.wide
                    .edge.top.left
                    .edge.bottom.left
                    .container-content
                      %form{:action => objectURL(experiment, "/connections", :workset => workset, :object => experiment, :full => true), :method => :post, :name => :add_connection}
                        %input{:name => :connection_index, :type => :hidden, :value => connection['index']}
                        %input.object-type.expandable{:type => :text, :name => :object_type, :value => "", :autocomplete => "off"}
                        %input.object-name.expandable{:type => :text, :name => :object_name, :value => "", :autocomplete => "off"}
                        %input.object-id{:type => :hidden, :name => :object, :value => ""}
                        %input{:name => :run_order, :type => :hidden, :value => 0}
                        %ul.options
                          %li
                            %input.button{:name => :submit, :type => :submit, :value => "Attach"}
                    .edge.top.right
                    .edge.bottom.right
      .info
        .container{:"data-connection-index" => connection['index'], :class => (connection['object']['created'] ? "created" : " ") + (running_connections.include?(connection['index']) ? "running" : " ") + (done_connections.include?(connection['index']) ? "done" : " ")}
          .edge.top.left
          .edge.bottom.left
          .container-content.icon{:class => object.nil? ? "" : object.typeClass}
            - if running_connections.include?(connection['index'])
              = partial :spinner
            - if defined?(editable) and editable and workset.can_edit?(current_person)
              %form{:action => objectURL(experiment, "/connections/#{connection['index']}", :workset => workset, :object => experiment, :full => true), :method => :post, :name => :remove_connection}
                %input{:type => :hidden, :value => 'delete', :name => :_method}
                %input.delete{:type => :submit, :value => "detach"}
            %h3.type
              #{connection['object']['type']}
            - if object
              %h3.name
                %a{:href => "/objects/#{object.uid}/#{connection['object']['revision']}"}
                  = object.name
              %h3.revision
                #{connection['object']['revision'][0..6]}
              %ul.outputs
                %li
                  %a.button{:href => "/objects/#{object.uid}/#{connection['object']['revision']}/configurations"}
                    Defaults
            - else
              %h3.name
                #{connection['object']['name']}
          .edge.top.right
          .edge.bottom.right
          .label.type
            #{connection['object']['type']}
          .label.name
            #{connection['object']['name']}
- else
