%h1.fork
  .large-icon.action.fork<
  .statistics<
  .name<
    Fork
  .organization<
    Create a clone of this object.

= partial :errors, {:locals => {:errors => errors}}

%form.modal{:action => "/worksets/#{workset.uid}/#{workset.revision}/fork", :method => :post, :name => :fork}
  .card
    %label{:for => :name}
      Name
    %input{:type => "text", :id => :name, :name => :name, :value => workset.name}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Fork", :name => :submit}
