-# Purpose: Show all worksets
-#
-# Locals:  worksets - A list of worksets.
-#          tags     - A list of tags.
-#          tag      - Current tag we are filtering with

%h1.workset
  .icon.workset<
  .statistics
    %ul
      %li.count
        %span.units
          count
        %span.value
          #{Occam::Workset.count}
  .name<
    Worksets
  .description<
    The worksets known to this OCCAM system

.description
  %ul.tags
    - tags.each do |tag|
      %li.tag
        %a{:href => "/worksets?tag=#{tag}"}
          = tag

.card
  .help
    %p
      %a{:href => "/experiments"}<
        %strong<
          Experiments
      are typically one-time runs of a simulation. They are useful for
      tweaking values or doing practice runs.
      %strong
        Worksets
      are a collection of experiments and are much better suited for
      running a series of different configurations or running upon
      different benchmarks.

.card
  %ul.image-list
    %li.add
      %a{:href=>"/worksets/new", :title => "New Workset"}
        Create a new Workset

.card
  %h2
    - if tag
      = "Tag: #{tag}"
    - else
      By Name

  %ul#worksets.diamond-list
    - worksets.each do |workset|
      %li
        %a{:href => "/worksets/#{workset.id}"}
          = workset.name
