.card.filled.min-height
  %ul.bookmarks
    - person.bookmarks.each do |bookmark|
      %li.bookmark
        .large-icon{:class => bookmark.object.typeClass}<
        %a{:href => "/objects/#{bookmark.object.uid}"}
          #{bookmark.object.name}
