-# Purpose: Displays the profile for the specified person
-#
-# Locals:  person        - The particular Person to view
-#          experiments    - The experiments this person owns
-#          collaborations - The worksets this person is collaborating upon
-#          worksets       - The worksets this person owns
-#          jobs           - Running jobs this person owns

- content_for :title do
  #{person.name}

= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

%ul.card-tabs.tabs
  - tab_index = 0
  %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "worksets") ? 'active' : ''}>
    - tab_index += 1
    %a{:href => "#"}>
      = I18n.t 'tabs.worksets'
  - if current_person and current_person.id == person.id
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "bookmarks") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => "/people/#{current_person.uid}/bookmarks"}>
        = I18n.t 'tabs.bookmarks'
    %li.card-tab.tab>
      %a{:href => "#"}>
        = I18n.t 'tabs.jobs'
    -#%li.card-tab.tab>
      %a{:href => "#"}>
        Deployment Resources
  %li.card-tab.tab>
    %a{:href => "#"}>
      = I18n.t 'tabs.metadata'

%ul.tab-panels
  - tab_index = 0
  %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "worksets") ? 'active' : ''}>
    - tab_index += 1
    .card.filled.min-height
      %h2
        = I18n.t 'subheaders.worksets'
        %a.help-bubble{:href => "?help=worksets"}
          = I18n.t 'alt-text.help'

      .help{:"aria-hidden" => (help != "worksets" && !worksets.empty?) ? "true" : "false"}
        = render(:markdown, I18n.t('help.worksets'))

      - if worksets.empty? and collaborations.empty?
        - if current_person and person.id == current_person.id
          %p
            = I18n.t 'common.noWorksetsYou'
        - else
          %p
            = I18n.t 'common.noWorksets'

      - if current_person and person.id == current_person.id
        %table.directory.information
          %tr.row.workset.add
            %td.expand
            %td
              %span.input
                %form{:action => "/worksets", :method => :post}
                  %input{:type=>'text', :name => 'name'}
                  %input.button{:type => :submit, :value => I18n.t('fields.addWorkset')}

      %ul#worksets
        - worksets.reverse.each do |workset|
          - if workset.can_view? current_person
            %li
              .statistics
                %ul
                  %li.collaborators
                    %span.value
                      = workset.authors.count + workset.collaborators.count
                    %span.units
                      = I18n.t 'information.collaborators'
                  -#
                    %li.groups
                      %span.value
                        0
                      %span.units
                        groups
                    %li.experiments
                      %span.value
                        0
                      %span.units
                        experiments
                    %li.forks
                      %span.value
                        0
                      %span.units
                        forks
              %h3.name
                %a.link{:href => "/worksets/#{workset.uid}"}
                  = workset.name
              .description
                :markdown
                  #{workset.description}
              %br.clear
        - collaborations.each do |workset|
          - if workset.can_view? current_person
            %li
              %h3.name
                %a.link{:href => "/worksets/#{workset.uid}"}
                  = workset.name
              .info
                .description
                  :markdown
                    #{workset.description}
                .statistics
                  %ul
                    %li.collaborators
                      %span.value
                        = workset.authors.count + workset.collaborators.count
                      %span.units
                        = I18n.t 'information.collaborators'

  - if current_person and current_person.id == person.id
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "bookmarks") ? 'active' : ''}>
      - tab_index += 1
      = partial(:"people/bookmarks", :locals => {:person => person})
    %li.tab-panel
      .card.min-height
        %h2
          = I18n.t 'subheaders.currentJobs'

        - if person.dashboard_runs.any?
          %ul.runs-list
            - person.dashboard_runs.take(10).each do |run|
              = partial :"runs/list", :locals => {:run => run}
        - else
          %p
            = I18n.t 'common.noJobs'
        %p.show-all-runs-link
          %a#show-all-runs{:href => "/people/#{current_person.uid}/runs"}
            = I18n.t 'common.showJobs'

  -# if current_person and person.id == current_person.id
    %li.tab-panel
      .card
        %h2
          Deployment Resources

        .information
          .ec2
            %h2
              Amazon EC2 Micro 1
            %p
              wilkie05@g... t2.micro 32GB SSD
          .ec2
            %h2
              Amazon EC2 Micro 2
            %p
              wilkie05@g... t2.micro 32GB SSD
          .aptlab
            %h2
              Aptlab Account
            %p
              dwilk@cs... occam-container
          .object
            %h2
              oakland.cs.pitt.edu
            %p
              dwilk@cs... oakland.cs.pitt.edu
          .object
            %h2
              cope.cs.pitt.edu
            %p
              dwilk@cs... cope.cs.pitt.edu

  %li.tab-panel
    .card.filled
      %h2
        = I18n.t 'subheaders.publicKey'

      %ul.tabs.bubble
        %li.tab.active
          %a
            SSH
        %li.tab
          %a
            SSH2
        %li.tab
          %a
            PEM

      %ul.tab-panels
        %li.tab-panel.active
          %pre.wrap
            = preserve do
              :escaped
                #{person.ssh_public_key}

        %li.tab-panel
          %pre
            = preserve do
              :escaped
                #{person.ssh2_public_key}

        %li.tab-panel
          %pre
            = preserve do
              :escaped
                #{person.public_key}
