-# Purpose: Displays the results of the search
-#
-# Locals:	types   - Matching object types
-#			    objects - Matching objects (by keyword search)

%h1.search
  .large-icon.search
  .name
    Results

- if !types.empty?
  .card
    %h2
      Object Types

    %ul.information
      - types.each do |object|
        %li.object
          %h2.type
            %a{:href => "/objects?by_type=#{object.object_type}"}
              #{object.object_type}
          %p

- if !objects.empty?
  .card
    %h2
      Objects

    %ul.information
      - objects.each do |object|
        %li.object
          %h2.type.icon{:class => object.typeClass}
            #{object.object_type}
          %p
            %a{:href => "/objects/#{object.uid}"}
              #{object.name}

- if types.empty? && objects.empty?
  .card
    %p
      No results.
