- # TODO: clean this up
- # TODO: place this in a model
- if object_info.has_key? 'contains'
  - object_info['contains'].each_with_index do |dependency, itemIndex|
    - if dependency['type'] == 'group'
      - group_info = dependency
      - group = Occam::Object.findGroup(group_info['id'], group_info['revision'])
      - if group
        %tr.group.row{:"data-group-uuid" => group.uid, :"data-group-revision" => group.revision, :"data-workset-uuid" => workset.uid, :"data-workset-revision" => workset.revision}
          %td.expand
          %td.name
            - if group_info['revision'] == group.revision
              - if head_view
                %a{:href => objectURL(workset, "/groups/#{group.uid}", :full => true)}
                  #{group.name}
              - else
                %a{:href => objectURL(workset, "/groups/#{group.uid}/#{group.revision}", :full => true)}
                  #{group.name}
            - else
              %a{:href => objectURL(workset, "/groups/#{group.uid}", :full => true)}
                #{group.name}
          - if workset.can_edit?(current_person)
            %td.actions{:style => "width: 1%"}
              %form.inline{:action => objectURL(object, "/contents/#{itemIndex}", :full => true), :method => :post}
                %input{:type => :hidden, :value => 'delete', :name => :_method}
                %input.delete.link{:type => :submit, :value => 'delete', :name => :delete}
