- if object_info['citation']
  .card.filled
    %h2
      = I18n.t 'subheaders.citation'
    .information
      .article
        %h2
          = I18n.t 'subsubheaders.citation.type'
        %p
          Article
      - if object_info['citation']['title']
        .title
          %h2
            = I18n.t 'subsubheaders.citation.title'
          %p
            #{object_info['citation']['title']}
      - if object_info['citation']['author']
        .author
          %h2
            = I18n.t 'subsubheaders.citation.author'
          %p
            #{object_info['citation']['author']}
      - if object_info['citation']['journal']
        .journal
          %h2
            = I18n.t 'subsubheaders.citation.journal'
          %p
            #{object_info['citation']['journal']}
      - if object_info['citation']['year']
        .year
          %h2
            = I18n.t 'subsubheaders.citation.year'
          %p
            #{object_info['citation']['year']}
      - if object_info['citation']['month']
        .month
          %h2
            = I18n.t 'subsubheaders.citation.month'
          %p
            #{object_info['citation']['month']}
      - if object_info['citation']['ISSN']
        .issn
          %h2
            = I18n.t 'subsubheaders.citation.issn'
          %p
            #{object_info['citation']['ISSN']}
    %h2
      BibTeX
    %pre
      %code
        = preserve do
          :escaped
            #{object.bibtex}
