%ul.configuration-nav>
  = render_ranged_nav(object.configurationSchema(configuration_index), index, configuration_index)
- if configuration.has_key? 'recipes'
  .recipe-selection
    recipes:
    %select.no-validation{:name => "recipe-#{configuration_index}"}
      - configuration['recipes'].each_with_index do |recipe, recipe_index|
        %option{:value => recipe_index}
          #{recipe['name']}
    %input.inline.button{:type => :submit, :value => "Apply", :name => "apply-recipe-#{index}-#{configuration_index}"}
.configuration-search-options
  = render_ranged_form(defaults, object.configurationSchema(configuration_index), {}, object, index, configuration_index)
