.card
  %h2
    = I18n.t 'paper.defaultWidgetHeader'
  %p
    = I18n.t 'paper.defaultWidget'

%iframe.paper-widget{:style => "overflow: hidden; width: 100%; height: 100%; display: none;", :sandbox=>"allow-scripts", :"data-item-index" => defined?(data_item_index) ? data_item_index : nil}
