.card
  %h2
    #{I18n.t 'subheaders.listing'} #{path || "/"}
  = partial(:"objects/filelist", :locals => {:object_info => object_info, :object => object, :path => path, :links => true, :workset => workset})
