-# Renders the top header for the page given information about the object.
-#
-# Locals:
-#   name         - The name of the object.
-#   type         - The type of the object.
-#   group        - When defined, the group that this object belongs to.
-#   workset      - When defined, the workset that this object belongs to.
-#   head_view    - When defined, and true, omits the revision from urls.
-#   organization - When defined, describes the organization for this object.
-#   description  - When defined, the markdown for the object description.
-#   tags         - When defined, an array of strings representing tags.

%h1{:class => [object.typeClass, direction(object_info['name']) == :rtl ? "rtl" : "ltr"], :"aria-hidden" => (embedded ? "true" : "false")}
  .saving.flash{:"aria-hidden" => 'true'}
    = partial :spinner, :locals => {:klass => "light"}
    = I18n.t "flash.saving"
  .error.flash{:"aria-hidden" => 'true'}
    = I18n.t "flash.error"
  .statistics<>
    %ul.options<>
      - if object_info['type'] == 'workset'
        - if object.can_edit? current_person
          %li.visibility{:class => object.private == 1 ? "private" : "public"}<>
            %form{:action => "/worksets/#{object.uid}", :method => :post}
              %input{:type=>:hidden, :name => :private, :value => (object.private == 1 ? 0 : 1).to_s}
              - if object.private == 1
                %input.lock.private{:type=>:submit, :value => I18n.t('information.private')}
              - else
                %input.lock.public{:type=>:submit, :value => I18n.t('information.public')}
        - else
          %li.disabled.visibility{:class => object.private == 1 ? "private" : "public"}<>
            %a
              - if object.private == 1
                #{I18n.t "information.private"}
              - else
                #{I18n.t "information.public"}
      - if current_person
        - if current_person.bookmarked?(object)
          %li.bookmark_delete<>
            %form{:action => "/people/#{current_person.uid}/bookmarks/#{current_person.bookmarkFor(object).id}", :method => :post}
              %input{:type => :hidden, :value => 'delete', :name => :_method}
              %input.bookmark_delete{:type=>:submit, :value => I18n.t('information.removeBookmark')}
        - else
          %li.bookmark<>
            %form{:action => "/people/#{current_person.uid}/bookmarks", :method => :post}
              %input{:type=>:hidden, :name => :object_id, :value => object.uid}
              %input.bookmark{:type=>:submit, :value => I18n.t('information.bookmark')}
      - if current_person && !reviewing
        -# TODO: allow object forking
        - if ['workset', 'experiment'].include? object_info['type']
          %li.fork<>
            - if object_info['type'] == 'workset'
              %a{:href => "/worksets/#{object.uid}/#{object.revision}/fork"}
                = I18n.t 'information.fork'
            - elsif object_info['type'] == 'experiment'
              %a{:href => "/experiments/#{object.uid}/#{object.revision}/fork"}
                = I18n.t 'information.fork'
            - else
              %a{:href => "/objects/#{object.uid}/#{object.revision}/fork"}
                = I18n.t 'information.fork'
      %li.history<>
        - href = "/objects/#{object.uid}/#{object.revision}/history"
        - if object_info['type'] == 'workset'
          - href = "/worksets/#{object.uid}/#{object.revision}/history"
        - if workset && object_info['type'] == 'experiment'
          - href = "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{object.uid}/#{object.revision}/history"
        - if workset && object_info['type'] == 'group'
          - href = "/worksets/#{workset.uid}/#{workset.revision}/groups/#{object.uid}/#{object.revision}/history"
        %a{:href => href}
          = I18n.t 'information.history'
  %nav<>
    %ul<>
      - if workset && object_info['type'] != 'workset'
        %li<>
          %h2.icon.workset
            %a{:href => "/worksets/#{workset.uid}"}<>
              #{workset.objectInfo['name']}
      - if object.belongsTo && (!workset || object.belongsTo.uid != workset.uid)
        %li<>
          %h2.icon{:class => object.belongsTo.typeClass}
            - type = "objects"
            - if object.belongsTo.typeClass == 'group'
              - type = "groups"
            - elsif object.belongsTo.typeClass == 'experiment'
              - type = "experiments"
            %a{:href => "/worksets/#{workset.uid}/#{type}/#{object.belongsTo.uid}"}<>
              #{object.belongsTo.objectInfo['name']}
  .large-icon{:class => object.typeClass}<
  .type<
    %a#object-type{:href => "/objects?by_type=#{object_info['type']}"}<
      #{object_info['type']}
    - if object_info.has_key? 'subtype'
      %span.subtype
        (#{object_info['subtype']})
  .name#object-name<
    #{object_info['name']}
  .object-id#object-id{:"aria-hidden" => "true"}
    #{object_info['id']}
  .object-revision#object-revision{:"aria-hidden" => "true"}
    #{revision}
  - if workset
    .workset-id#workset-id{:"aria-hidden" => "true"}
      #{workset.uid}
    .workset-revision#workset-revision{:"aria-hidden" => "true"}
      #{workset.revision}
  - if object_info.has_key? 'organization'
    .organization<
      = object_info['organization']
  - else
    .organization<

.description{:"aria-hidden" => (embedded ? "true" : "false")}
  :markdown
    #{object_info['description']}
  - if object_info['tags'] and not object_info['tags'].empty?
    %ul.tags
      - object_info['tags'].each do |tag|
        %li.tag
          %a{:href => "/objects?by_tag=#{tag}"}
            = tag
  - if workset && workset.can_edit?(current_person)
    %p.edit-profile-link
      %a.edit-profile{:href => "/worksets/#{workset.uid}/#{workset.revision}/edit"}
        = I18n.t 'common.editDescription'
