.card.filled
  %h2
    History

  %ul.history
    - object.commits.each do |commit|
      %li.commit
        %p.date
          %a{:href => objectURL(object, "", :revision => commit[:revision])}
            #{commit[:date]}
        %p.name
          Author:
          %span.author
            #{commit[:author]}
        %p.message
          #{commit[:message]}
