.card
  - if workset.can_edit?(current_person)
    %h2
      Queue Jobs
    .queue-job
      %span
        Dispatch To:
      %span.dispatch-selector{:"data-node-type" => "occam"}<
        local
      %a.dispatch-button.button{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{object.uid}/#{object.revision}/queue_job"}
        Queue Jobs
  %h2
    Runs

  %ul.runs-list
    - object.runs.each do |run|
      = partial :"runs/list", :locals => {:run => run}
  - if object.runs.empty?
    %p
      No runs have been queued.
