-# Presents a paginated list of objects
-# Locals: objects  - either an array of Occam::Object (or a relation) or an
-#                    array of object infomation (array of hashes).
-#         noneText - Text to display when the list is empty. Can be omitted.
-#              url - The url to direct pagination to.

- if !defined?(url) || url.nil?
  - url = ""

- if !defined?(noneText) || noneText.nil?
  - noneText = I18n.t('common.none')

= partial(:"objects/pagination", :locals => {:pageIndex => pagination[:pageIndex],
                                             :pageCount => pagination[:pageCount],
                                             :pageItems => pagination[:pageItems],
                                             :url       => url})
%nav.list-view-options
  %ul.tabs.bubble
    %li.tab
      %a.icon.list-view{:href => "#"}
        List View
    %li.tab.active
      %a.icon.list-preview{:href => "#"}
        Preview

%ul.tab-panels
  %li.tab-panel
    - if objects.empty?
      %p
        #{noneText}
    - else
      = partial(:"objects/listview/list", :locals => {:pagination => pagination,
                                                      :objects    => objects})
  %li.tab-panel.active
    - if objects.empty?
      %p
        #{noneText}
    - else
      = partial(:"objects/listview/preview", :locals => {:pagination => pagination,
                                                         :objects    => objects})

= partial(:"objects/pagination", :locals => {:pageIndex => pagination[:pageIndex],
                                             :pageCount => pagination[:pageCount],
                                             :pageItems => pagination[:pageItems],
                                             :url       => url})
