- first = true
.card.filled.page
  - if items.is_a? Array
    - items.each do |item|
      - if not first and not ['image', 'subheader', 'paragraph', 'header'].include?(item['type'])
        - break
      - first = false
      = partial(:"objects/pageitem", :locals => {:item => item, :object => object, :item_index => item_index, :workset => workset})
      - item_index += 1
      - if workset && workset.can_edit?(current_person) && (item_index-start_index) >= items.length
        .line
          .new-token
      - if ['widget'].include?(item['type'])
        - break
- if items.is_a?(Array) && items.any? && (items[item_index-start_index-1] || {})['type'] == "widget"
  - widgetObject = (items[item_index-start_index-1]['data'] || {})['object']
  - if widgetObject
    - widgetObject = Occam::Object.findObject(widgetObject['id'], widgetObject['revision'])

  .card.filled.separator{:"aria-hidden" => "true"}
  .card.filled.page{:"aria-hidden" => "true"}
    = partial(:"objects/widget_configuration", :locals => {:object       => object,
                                                           :widgetObject => widgetObject,
                                                           :page_index   => page_index,
                                                           :item_index   => item_index-1,
                                                           :workset      => workset})

- if items && items.is_a?(Array)
  - if item_index-start_index < items.length
    = partial(:"objects/pagecard", :locals => {:object      => object,
                                               :page_index  => page_index,
                                               :items       => items[item_index-start_index..-1],
                                               :page_info   => page_info,
                                               :workset     => workset,
                                               :item_index  => item_index,
                                               :start_index => item_index})
