-# This partial will generate a "workflow" of the provenance of the object

-# If the object is an occam/task, it will show the objects that are used to
-# build the Virtual Machine

-# Otherwise, it will show the generator path for the object.

-# Locals:
-#   object      - The object to view the provenance of
-#   object_info - The object's metadata Hash

.card.filled.provenance
  %h2
    Provenance

  - if object_info['type'] == 'occam/task'
    = partial(:"workflows/show", :locals => {:object => object, :workflow => object.toWorkflow, :tail_connections => object.toWorkflow['tail'], :experiment => object, :workset => nil})
  - else
    = partial(:"workflows/show", :locals => {:object => object, :workflow => object.provenanceToWorkflow, :tail_connections => object.provenanceToWorkflow['tail'], :experiment => object, :workset => nil})
