- if !defined?(preferredRunner) || preferredRunner.nil?
  - preferredRunner = object

- if !defined?(runners) || runners.nil?
  - runners = []

-#.card.filled.terminal
  - if !embedded
    %h2
      = I18n.t 'subheaders.run'
      %a.help-bubble{:href => "?help=run"}
        = I18n.t 'alt-text.help'

    .help{:"aria-hidden" => help != "run" ? "true" : "false"}
      = render(:markdown, I18n.t('help.run'))

= partial(:"objects/viewer", :locals => {:viewerObject => preferredRunner,
                                         :label        => I18n.t('object-selection.running'),
                                         :object       => object,
                                         :object_info  => object_info,
                                         :viewers      => runners,
                                         :help         => defined?(help) ? help : ""})
