- if viewers.any?
  = partial(:"objects/viewer", :locals => {:viewerObject => preferredViewer,
                                           :object       => object,
                                           :object_info  => object_info,
                                           :viewers      => viewers,
                                           :help         => defined?(help) ? help : ""})
- elsif object_info['type'] == "application/json"
  .card
    %h2
      = I18n.t('subheaders.data')
      (application/json)

    #results-data
      .data.active.loaded{:"data-object-id" => object.uid}
        = partial(:"objects/data", :locals => {:object => object})

- elsif object_info['architecture'] == "html"
  .card.filled.object-viewer{:style => "height: 350px"}
    %iframe.full-widget.separator-resize{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>"allow-pointer-lock allow-scripts", :src=> objectURL(object, "raw/#{object_info['file']}", :full => true)}
  .card.filled.separator
  - if object.configurations.any?
    .card.filled
      %ul.tabs.card-tabs
        - if object.datapoints?
          %li.tab.active>
            %a>
              = I18n.t('tabs.datasets')
        - object.configurations.each do |configuration|
          %li.tab>
            %a>
              #{configuration['label'] || configuration['name']}
      %ul.tab-panels
        - if object.datapoints?
          %li.tab-panel.active
            %ul.tabs.outputs.bubble
              %li.tab.active
                %a
                  = I18n.t('tabs.openData')
            %ul.tab-panels.outputs
              %li.tab-panel.active
                %h2
                  = I18n.t('subheaders.openFromWorkset')

                - if current_person
                  = partial(:"worksets/list", :locals => {:head_view => false, :worksets => current_person.worksets})
                - else
                  %p
                    = I18n.t('common.noSessionWorksets')

        - object.configurations.each_with_index do |configuration, index|
          %li.tab-panel.configuration{:"data-key" => Base64.urlsafe_encode64(configuration['name']), :"data-object-id" => object.uid, :"data-object-revision" => object.revision, :"data-configuration-index" => index}
- elsif object.fileIsText?(object_info['file'])
  .card.filled
    %h2
      = I18n.t('subheaders.data')

    %p
      %a{:href => objectURL(object, "raw/#{object_info['file']}", :full => true)}
        = I18n.t('common.download')

    %pre
      = preserve do
        :escaped
          #{object.file}
- else object_info['file']
  .card.filled
    %h2
      = I18n.t('subheaders.data')

    %p
      %a{:href => objectURL(object, "raw/#{object_info['file']}", :full => true)}
        = I18n.t('common.download')
