-# This is the card that is generated containing the configuration input for an
-# interactive widget. This is generated on the interactive widget's own
-# personal page and also attached to editable widgets embedded in "paper"
-# objects.

-# Locals:   current_person - The currently logged in Person object.
-#             widgetObject - The widget to pull configuration options from.
-#                   object - The 'paper' object.

%ul.tabs.card-tabs>
  %li.tab.active>
    %a>
      Object
  %li.tab>
    %a>
      Datasets

  - if defined?(widgetObject) && widgetObject
    - widgetObject.configurations.each do |configuration|
      %li.tab>
        %a>
          #{configuration['label'] || configuration['name']}

%ul.tab-panels
  %li.tab-panel.widget-selection.active
    .card
      %h2
        Select Object

      %form.widget-selection{:name => "widget-selection"}
        .card.collapsable.collapsed
          %h3 Filters
          %ul.information
            .by-type
              %h2 Type
              %p
                %input.auto-complete.object-type{:autocomplete => "off",
                                                 :name         => "type",
                                                 :placeholder  => "filter by type",
                                                 :value        => ""}
            .by_tag
              %h2 Tag
              %p
                %input.auto-complete.object-tag{:autocomplete => "off",
                                                :name         => "tag",
                                                :placeholder  => "filter by tag",
                                                :value        => ""}
        %br
        - if defined?(widgetObject) && widgetObject
          %input.hidden{:type          => :hidden,
                        :"aria-hidden" => "true",
                        :name          => "object-id",
                        :value         => widgetObject.uid}
        %input.auto-complete{:autocomplete => "off",
                             :name         => "name",
                             :placeholder  => "select object",
                             :value        => (defined?(widgetObject) && widgetObject) ? widgetObject.name : ""}
        %br
        %input.button{:type  => :submit,
                      :value => "attach"}

      %h2
        Recently Used Objects

      %p
        None

  %li.tab-panel
    %ul.tabs.outputs.rounded
      %li.tab.active
        %a
          Open Data
    %ul.tab-panels.outputs
      %li.tab-panel.active
        %h2
          Open Data Object

        %h2
          Open From Workset

        - if current_person
          = partial(:"worksets/list", :locals => {:head_view => false,
                                                  :worksets  => current_person.worksets})
        - else
          %p
            Log in to see a list of your worksets.

  - if defined?(widgetObject) && widgetObject
    - widgetObject.configurations.each_with_index do |configuration, index|
      - key = Base64.urlsafe_encode64(configuration['name'])
      %li.tab-panel.configuration{:"data-key"                 => key,
                                  :"data-page-index"          => page_index,
                                  :"data-item-index"          => item_index,
                                  :"data-workset-id"          => workset.uid,
                                  :"data-workset-revision"    => workset.revision,
                                  :"data-paper-id"            => object.uid,
                                  :"data-paper-revision"      => object.revision,
                                  :"data-configuration-index" => index}
