.card
  %h2
    = I18n.t('subheaders.workflow')
    %a.help-bubble{:href => "?help=workflow"}
      = I18n.t('alt-text.help')

  .help{:"aria-hidden" => !(help == "workflow" or experiment.workflow['connections'].empty?) ? "true" : "false"}
    = render(:markdown, I18n.t('help.workflow'))

  = partial :"workflows/show", :locals => {:editable => !workset.nil? && workset.can_edit?(current_person), :workset => workset, :object => experiment, :experiment => experiment, :workflow => experiment.workflow, :tail_connections => experiment.tail_connections}

-# Render the configuration form
= partial(:"experiments/configuration", :locals => {:object_info => object_info, :experiment => experiment, :workset => workset, :help => help})
