- content_for :styles do
  :plain
    <style>
      caja-v-html {
        padding: 5px 0;
      }
    </style>

.card
  %h2
    Caja Status
  %p
    This page uses Google Caja in order to run "untrusted" code. The code for
    this page simply ensures that Caja is working as intended on this node.

.card
  %h2
    Document Write
  %p.caja-test#guest-document-write
  .result

.card.filled.collapsable
  %h2
    Document Write Script
  %pre
    %code
      = preserve do
        = html_escape(haml :"status/caja-document-write")

.card
  %h2
    Host Function Call
  %p.caja-test#guest-function-call
  .result

.card.filled.collapsable
  %h2
    Host Function Call Script
  %pre
    %code
      = preserve do
        = html_escape(haml :"status/caja-function-call")

- content_for :scripts do
  %script{:type => "text/javascript"}
    :plain
      var url = window.document.location.protocol +
                '//' +
                window.document.location.host;

      caja.initialize({
        cajaServer: url + "/js/caja",
        debug:      true
      });

      var function_check = function() {
        return 42;
      };

      var tests = [
        {
          "id": "guest-document-write",
          "url": url + "/status/caja-document-write",
          "result": "writing to the page using 'document.write'",
          "api": {}
        },
        {
          "id": "guest-function-call",
          "url": url + "/status/caja-function-call",
          "result": "called a host function",
          "api": { functionCheck: function_check }
        }
      ];

      var success = $('<div class="test-success"><p>Passed</p></div>');
      var failure = $('<div class="test-failure"><p>Failed</p></div>');

      tests.forEach(function(test) {
        caja.load(document.getElementById(test.id), undefined, function(frame) {
          // Tame functions
          var api = function_check;

          Object.keys(test.api).forEach(function(key) {
            caja.markFunction(test.api[key]);
            test.api[key] = caja.tame(test.api[key]);
          });

          frame.code(test.url, 'text/html')
               .api(test.api)
               .run(function(result) {
                 if ($('#' + test.id).text().trim() == test.result) {
                   $('#' + test.id).next().append(success.clone());
                 }
                 else {
                   $('#' + test.id).next().append(failure.clone());
                 }
               });
        });
      });
