-#
-#
-# Locals: providers - List of matching Provider records

%h1.object
  .icon.object<
  .statistics
    %ul
  .name<
    Providers
  .organization<
    Collection of objects that provide different capabilities or environments for building virtual machines.

- if providers.any?
  .card
    %ul.information
      - providers.each do |provider|
        %li.object
          %h2.type
            - if not provider.environment.blank?
              #{provider.architecture} / #{provider.environment}
            - if not provider.capability.blank?
              #{provider.capability} capability
          %p
            %a{:href => "/objects/#{provider.object.uid}"}
              #{provider.object.name}

- if providers.empty?
  .card
    %p
      No providers.
